# copy these to a .env file and add your password and db details to it. 
# Keep it mind it is for local development for production you should 
# alway store and fetch secrets from a secrets manager.
REDIS_PASSWORD='<local-redis-password>'
MAIN_DB_PASSWORD='<local-db-password>'
POSTGRES_USER='<local-db-user>'
POSTGRES_DB='<local-db-name>'